<nav select-game="vm.selectGame(game)" create-new-game="vm.addNewGame()"></nav>
<div class="row">
    <div class="col-sm-5">





        <div class="input-group">
            <select class="form-control" name="" id="" ng-model="vm.selectedGame" ng-change="vm.selectGame(vm.selectedGame)"
                ng-options="game as game.title + ' ' + game.createdDate for game in vm.games track by game.$id">
                <option value="">Välj omgång</option>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="vm.addNewGame()">+</button>
            </span>
        </div>
        <!-- /input-group -->

        <!--<div ng-if="vm.selectedGame">
            <div ng-if="vm.rounds.length">-->
        <game-diagram rounds="vm.rounds" game="vm.selectedGame"></game-diagram>
        <!--</div>
        </div>-->

    </div>
    <div class="col-sm-7">
        <div ng-if="vm.selectedGame">

            <input type="text" ng-model="vm.selectedGame.title" class="form-control"
                placeholder="Beskrivning"> {{vm.selectedGame['player'
            + vm.selectedGame.whoIsWind].name}} har vind
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th ng-class="{'success': vm.selectedGame.player1.isEast}"><input type="text" class="form-control" ng-model="vm.selectedGame.player1.name"></th>
                        <th><input type="text" class="form-control" ng-model="vm.selectedGame.player2.name"></th>
                        <th><input type="text" class="form-control" ng-model="vm.selectedGame.player3.name"></th>
                        <th><input type="text" class="form-control" ng-model="vm.selectedGame.player4.name"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control" ng-model="vm.player1Score">
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="vm.player2Score">
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="vm.player3Score">
                        </td>
                        <td><input type="text" class="form-control" ng-model="vm.player4Score">
                        </td>
                        <td>

                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="caret"></span>
    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="vm.addNewRound(1)">{{vm.selectedGame.player1.name}}</a></li>
                                    <li><a href="" ng-click="vm.addNewRound(2)">{{vm.selectedGame.player2.name}}</a></li>
                                    <li><a href="" ng-click="vm.addNewRound(3)">{{vm.selectedGame.player3.name}}</a></li>
                                    <li><a href="" ng-click="vm.addNewRound(4)">{{vm.selectedGame.player4.name}}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="round in vm.rounds | orderBy: '$id':true" ng-mouseenter="showAll = true;"
                        ng-mouseleave="showAll = false;">
                        <td ng-class="{'success': round.player1.winner}">
                            <player-for-round player="round.player1" show-all="showAll"></player-for-round>
                        </td>
                        <td ng-class="{'success': round.player2.winner}">
                            <player-for-round player="round.player2" show-all="showAll"></player-for-round>
                        </td>
                        <td ng-class="{'success': round.player3.winner}">
                            <player-for-round player="round.player3" show-all="showAll"></player-for-round>
                        </td>
                        <td ng-class="{'success': round.player4.winner}">
                            <player-for-round player="round.player4" show-all="showAll"></player-for-round>
                        </td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>